In [5]:
# Load library
import pandas as pd

from IPython.display import display

In [16]:
# load the file and show in table
caminho_arquivo = 'https://raw.githubusercontent.com/gurezende/Studying/master/Datasets/Cars.csv'

df = pd.read_csv(caminho_arquivo)

In [19]:
# load only a few columns
df.head()

,Manufacturer,Model,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,mileage
0,Acura,Integra,Passenger,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150,46434
1,Acura,TL,Passenger,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778,28892
2,Acura,CL,Passenger,NaN,3.2,225,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN,28892
3,Acura,RL,Passenger,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779,30956
4,Audi,A4,Passenger,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639,43338

In [20]:
# load only the last lines of the dataset
df.tail()

,Manufacturer,Model,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,mileage
151,Volvo,V40,Passenger,24.4,1.9,160,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812,40630
152,Volvo,S70,Passenger,27.5,2.4,168,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495,38695
153,Volvo,V70,Passenger,28.8,2.4,168,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978,38695
154,Volvo,C70,Passenger,45.5,2.3,236,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357,27545
155,Volvo,S80,Passenger,36.0,2.9,201,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655,32342

In [22]:
# Load only few columns
pd.read_csv(caminho_arquivo, usecols=['Manufacturer', 'Model', 'Fuel_capacity'])

    Manufacturer    Model  Fuel_capacity
0          Acura  Integra           13.2
1          Acura       TL           17.2
2          Acura       CL           17.2
3          Acura       RL           18.0
4           Audi       A4           16.4
..           ...      ...            ...
151        Volvo      V40           15.8
152        Volvo      S70           17.9
153        Volvo      V70           17.9
154        Volvo      C70           18.5
155        Volvo      S80           21.1

[156 rows x 3 columns]

In [23]:
# Load only few rows

pd.read_csv(caminho_arquivo, nrows=10)

,Manufacturer,Model,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,mileage
0,Acura,Integra,Passenger,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2/2/2012,58.280150,46434
1,Acura,TL,Passenger,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6/3/2011,91.370778,28892
2,Acura,CL,Passenger,NaN,3.2,225,106.9,70.6,192.0,3.470,17.2,26,1/4/2012,NaN,28892
3,Acura,RL,Passenger,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22,3/10/2011,91.389779,30956
4,Audi,A4,Passenger,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27,10/8/2011,62.777639,43338
5,Audi,A6,Passenger,33.95,2.8,200,108.7,76.1,192.0,3.561,18.5,22,8/9/2011,84.565105,32504
6,Audi,A8,Passenger,62.00,4.2,310,113.0,74.0,198.2,3.902,23.7,21,2/27/2012,134.656858,20970
7,BMW,323i,Passenger,26.99,2.5,170,107.3,68.4,176.0,3.179,16.6,26,6/28/2011,71.191207,38240
8,BMW,328i,Passenger,33.40,2.8,193,107.3,68.5,176.0,3.197,16.6,24,1/29/2012,81.877069,33682
9,BMW,528i,Passenger,38.90,2.8,193,111.4,70.9,188.0,3.472,18.5,25,4/4/2011,83.998724,33682

In [26]:
# Read some data as NA

pd.read_csv(caminho_arquivo, na_values='Passenger')

,Manufacturer,Model,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,mileage
0,Acura,Integra,NaN,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150,46434
1,Acura,TL,NaN,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778,28892
2,Acura,CL,NaN,NaN,3.2,225,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN,28892
3,Acura,RL,NaN,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779,30956
4,Audi,A4,NaN,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639,43338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Volvo,V40,NaN,24.40,1.9,160,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812,40630
152,Volvo,S70,NaN,27.50,2.4,168,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495,38695
153,Volvo,V70,NaN,28.80,2.4,168,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978,38695
154,Volvo,C70,NaN,45.50,2.3,236,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357,27545
155,Volvo,S80,NaN,36.00,2.9,201,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655,32342

In [48]:
# Checking the number of rows and columns: interesting to know if the dataset was loaded correctly
# Verificando os número de linhas e colunas: interessante para saber se o dataset foi carregado corretamente
print('Rows', 'Cols')
df.shape

Rows Cols

(156, 15)

In [49]:
# Show only Columns
text_cols = df.columns
print(text_cols)

Index(['manufacturer', 'model', 'vehicle_type', 'price_in_thousands',
       'engine_size', 'horsepower', 'wheelbase', 'width', 'length',
       'curb_weight', 'fuel_capacity', 'fuel_efficiency', 'latest_launch',
       'power_perf_factor', 'mileage'],
      dtype='object')

In [50]:
# Convert columns from uppercase to lowercase

text_cols = ['Manufacturer', 'Model', 'Vehicle_type', 'Price_in_thousands',
       'Engine_size', 'Horsepower', 'Wheelbase', 'Width', 'Length',
       'Curb_weight', 'Fuel_capacity', 'Fuel_efficiency', 'Latest_Launch',
       'Power_perf_factor', 'mileage']

for text_cols_new in range(len(text_cols)):
    text_cols[text_cols_new]=text_cols[text_cols_new].lower()
print(text_cols)

['manufacturer', 'model', 'vehicle_type', 'price_in_thousands', 'engine_size', 'horsepower', 'wheelbase', 'width', 'length', 'curb_weight', 'fuel_capacity', 'fuel_efficiency', 'latest_launch', 'power_perf_factor', 'mileage']

In [51]:
# Show changed columns
df.columns = text_cols

In [58]:
# Translating names to pt_br
df.columns = ['fabricante', 'modelo', 'tipo_veiculo', 'preco', 'tam_motor', 'potencia_hp', 'entre_eixos', 'largura', 'comprimento', 'peso', 'cap_combustivel', 'eficiencia', 'ultima_versao', 'fator_de desempenho_de_potência', 'milhagem']

In [59]:
# Checking data types
df.dtypes

fabricante                          object
modelo                              object
tipo_veiculo                        object
preco                              float64
tam_motor                          float64
potencia_hp                          int64
entre_eixos                        float64
largura                            float64
comprimento                        float64
peso                               float64
cap_combustivel                    float64
eficiencia                         float64
ultima_versao                       object
fator_de desempenho_de_potência    float64
milhagem                             int64
dtype: object

In [60]:
# Checking data types and columns with null or empty values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   fabricante                       156 non-null    object
 1   modelo                           156 non-null    object
 2   tipo_veiculo                     156 non-null    object
 3   preco                            155 non-null    float64
 4   tam_motor                        156 non-null    float64
 5   potencia_hp                      156 non-null    int64
 6   entre_eixos                      156 non-null    float64
 7   largura                          156 non-null    float64
 8   comprimento                      156 non-null    float64
 9   peso                             155 non-null    float64
 10  cap_combustivel                  156 non-null    float64
 11  eficiencia                       154 non-null    float64
 12  ultima_versao                    156 non-null    object
 13  fator_de desempenho_de_potência  155 non-null    float64
 14  milhagem                         156 non-null    int64
dtypes: float64(9), int64(2), object(4)
memory usage: 18.4+ KB